body{
  background-color: antiquewhite;

}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
 margin: 10px;
 
}

.mainTxt {
  display: flex;
  color: #f6f6f6;
  background-color: rgb(70, 84, 79);
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 5px #f6f6f6;
}
.noLine {
  display: none;
}

.msgreen {
  display: flex;
  color: #f6f6f6;
  justify-content: center;
  font-style: oblique;
  padding: 5px;
  border-radius: 10px;
  background-color: #008000;
  width: 200px;
}
.msred {
  display: flex;
  color: #f6f6f6;
  justify-content: center;
  font-style: oblique;
  padding: 5px;
  border-radius: 10px;
  background-color: red;
  width: 200px;
}

.network{
  width: 300px;
  height: 161px;
}
